.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 12vh);
}

.navbar {
  width: 100%;
  display: flex;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 2rem 4.5rem;
  
  background: rgb(12, 21, 2);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  color: #e6ec93;
}
.highlight{
  color: #effd6f;
}

.navButtons {
  border: 0.4px solid rgb(113, 113, 113);
  border-radius: 50px;
  gap: 1vw;
  padding: 1.3vh 1vw;
  display: flex;
}

.loginButton {
  background-color: #363636;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  height: 7vh;

  transition: transform 0.3s ease, background-color 0.3s ease;
}
.signupButton {
  background-color: #e7fa3a;
  color: rgb(26, 26, 26);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  height: 7vh;

  transition: transform 0.3s ease, background-color 0.3s ease;
}

.loginButton:hover,
.signupButton:hover {
  background-color: #1b1b1b;
  color: #7b7b7b;
  transform: scale(1.1);
  border: 0.1px solid rgb(94, 94, 94);
  

}

.heroSection {
  display: flex;

  background: url("D:\PROJECTS\jovac-IPL\iplfrontend\src\assets\background.webp")
    no-repeat center center/cover;
  flex-direction: column;
  height: calc(100vh - 12vh);

  justify-content: center;

  padding: 70px;
  width: 100%;
}

.heroText {
  font-size: 45px;
color: rgb(29, 29, 29);
  width: 40%;
  line-height-step: 50px;

  letter-spacing: 1px;
  font-weight: 700;
  
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
 
  -webkit-background-clip: text;
  
  
}


.subText {
  font-size: 14px;

  color: rgb(45, 45, 45);
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 5px;
}

.getStarted {
  background-color: #e7fa3a; /* Dark grey */
  color: #1b1b1b; /* White */
  border: none;
  width: 9vw;
  padding: 14px 15px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.getStarted:hover {
  background-color: #1b1b1b;
  transition: all 0.12s ease-in-out;
  border: 1px solid rgb(237, 243, 160);
border-radius: 50px;
  color: #727272;

  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .heroText {
    font-size: 36px;
  }

  .navButtons {
    flex-direction: column;
    gap: 10px;
  }

  .getStarted {
    padding: 10px 20px;
  }
}
